{{!-- Global layout --}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Associated Consulting, Inc.</title>
    <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/style.css">
    <script src="/lib/jquery/jquery.min.js"></script>
    <script src="/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <header>
        <a href="/"><img class="logo" src="/static/img/company_logo.jpg" alt=""></a>
        <div class="company-name">Associated Consulting, Inc.</div>
        <div class="company-moto">Making projects happen</div>
    </header>
    
    <main>
        {{{body}}}
    </main>
    <footer>
        Copyright, 2020, Associated Consulting Inc.
        <address>
            Av. Faria Lima, 2000
            São Paulo, SP
        </address>
    </footer>
</body>
</html>